<!--<div *ngFor="let rent of rents">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ rent.carName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ rent.customerName }}</h6>
      <p class="card-text"><b>Rent Date : </b>{{ rent.rentDate | date }}</p>
      <p class="card-text"><b>Return Date : </b>{{ rent.returnDate | date }}</p>
      <p class="card-text">
        <b>Total Price : </b>{{ rent.totalPrice | currency: "₺" }}
      </p>
    </div>
  </div>
</div>-->
