<app-nav></app-nav>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-label="Slide 1"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class=""
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class=""
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item carousel-item-next carousel-item-start text-center"
    >
      <img
        class="bd-placeholder-img"
        width="50%"
        height="50%"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="../../../assets/img/rent-a-car-1.jpg"
      />

      <div class="container">
        <div class="carousel-caption">
          <h1 class="display-5"><b>En yeni arabalar ile yolculuğa çıkın</b></h1>
          <p class="p-color">
            Kullandığınız gün kadar ödeme yapın. Merak etmeyin depo bizden😉
          </p>
          <p>
            <a
              class="btn btn-lg btn-primary"
              [routerLink]="['/car']"
              routerLinkActive="router-link-active"
              >İncele</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="../../../assets/img/rent-a-car-2.png"
      />
      <div class="container">
        <div class="carousel-caption">
          <h1 class="display-5">
            <b> Kiralanmış olan arabalarımızı inceleyebilirsiniz.</b>
          </h1>
          <p class="p-color">
            Beğendiğiniz arabaları takip edebilir, kiralayan müşterimiz arabayı
            teslim edince kiralayabilirsiniz.
          </p>
          <p><a class="btn btn-lg btn-primary" href="#">İncele</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item active carousel-item-start">
      <img
        class="bd-placeholder-img"
        width="100%"
        height="100%"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="../../../assets/img/rent-a-car-3.png"
      />

      <div class="container">
        <div class="carousel-caption">
          <h1 class="display-5"><b>Arabanızın keyfiniz çıkarın.</b></h1>
          <p class="p-color">
            Kiraladığınız arabalar ile dilediğiniz geziler düzenleyebilirsiniz.
          </p>
          <p>
            <a
              class="btn btn-lg btn-primary"
              [routerLink]="['/brand']"
              routerLinkActive="router-link-active"
              >Markaları İncele</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <svg
        version="1.0"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        style="fill: #be1f19"
        width="150px"
        height="150px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 100 100"
        xml:space="preserve"
      >
        <path
          d="M73.443,59.472c-2.071-2.073-5.429-2.073-7.506,0L65,60.407l-0.938-0.936c-2.076-2.073-5.437-2.073-7.507,0
	c-2.076,2.071-2.076,5.431,0,7.501L65,75.416l8.443-8.443C75.514,64.902,75.514,61.543,73.443,59.472z"
        />
        <path
          d="M90,65c0-13.803-11.191-25-25-25c-0.645,0-1.277,0.049-1.908,0.095c0.143-1.123,0.24-2.263,0.24-3.428
	c0-14.726-11.934-26.666-26.659-26.666C21.947,10.001,10,21.941,10,36.667c0,4.821,1.302,9.33,3.535,13.232L10,63.333l13.438-3.534
	c3.899,2.235,8.411,3.534,13.235,3.534c1.165,0,2.305-0.101,3.424-0.244c-0.045,0.632-0.091,1.267-0.091,1.911
	c0,13.809,11.191,24.999,24.994,24.999c4.519,0,8.75-1.217,12.408-3.313L90,89.999l-3.314-12.594C88.781,73.747,90,69.521,90,65z
	 M36.673,56.667c-4.538,0-8.705-1.527-12.064-4.073l-5.254,1.385l1.387-5.254c-2.545-3.353-4.075-7.523-4.075-12.058
	c0-11.042,8.958-20,20.006-20c11.048,0,19.994,8.958,19.994,20C56.667,47.715,47.721,56.667,36.673,56.667z M80.644,80.645
	l-4.427-1.165c-3.098,2.408-6.985,3.854-11.217,3.854c-10.13,0-18.327-8.206-18.327-18.333c0-1.293,0.137-2.552,0.391-3.767
	c6.367-2.698,11.471-7.802,14.173-14.176c1.219-0.254,2.475-0.391,3.764-0.391c10.123,0,18.333,8.207,18.333,18.333
	c0,4.231-1.445,8.115-3.854,11.217L80.644,80.645z"
        />
        <path
          d="M35.521,25h2.917c0.808,0,1.302,0.639,1.107,1.414l-1.836,7.337h8.333c1.602,0,2.598,1.27,2.213,2.826l-2.233,8.925
	c-0.391,1.556-2.025,2.832-3.626,2.832h-8.64l-4.531-2.266c-0.717-0.364-1.96-0.65-2.767-0.65H25v-8.75h0.313
	c1.602,0,3.613-1.117,4.466-2.474L35.521,25z"
        />
      </svg>

      <h2>En iyisi</h2>
      <p>En büyük otomobil bayisi</p>
      <p><a class="btn btn-outline-primary" href="#">İncele »</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg
        version="1.0"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="150px"
        height="150px"
        style="fill: #4fc500"
        viewBox="0 0 100 100"
        enable-background="new 0 0 100 100"
        xml:space="preserve"
      >
        <path
          d="M48.333,41.667V23.333h-6.666V45c0,1.843,1.49,3.333,3.333,3.333h18.333v-6.666H48.333z"
        />
        <circle cx="45" cy="63.333" r="3.333" />
        <circle cx="26.667" cy="45" r="3.333" />
        <path
          d="M80,62.5h-6.667C71.491,62.5,70,61.009,70,59.167h-0.007L70,59.163c0-1.842,1.491-3.33,3.333-3.33v-0.006v0.006H80
	c1.843,0,3.33,1.491,3.33,3.334H90c0-5.521-4.482-10-10-10.004v-7.496h-6.667v7.5v-0.004c-5.521,0-10,4.477-10,10v0.004
	c0,5.521,4.479,10,10,10H80c1.843,0,3.33,1.49,3.33,3.333h-0.003c0,1.843-1.491,3.333-3.334,3.333H73.33
	c-1.839,0-3.33-1.49-3.33-3.333h-6.667c0,5.521,4.479,10,10,10V90H80v-7.5c5.518-0.007,9.997-4.479,9.997-10H90
	C90,66.979,85.518,62.5,80,62.5z"
        />
        <path
          d="M71.175,34.16C66.917,23.894,56.807,16.667,45,16.667c-15.651,0-28.333,12.682-28.333,28.333
	c0,15.647,12.682,28.333,28.333,28.333c3.841,0,7.5-0.771,10.843-2.158l2.553,6.159C54.268,79.046,49.746,80,45,80
	c-19.329,0-35-15.671-35-35s15.671-35,35-35c14.583,0,27.073,8.926,32.334,21.608L71.175,34.16z"
        />
      </svg>

      <h2>En düşük fiyatlar</h2>
      <p>Daha düşük araba fiyatları sunuyoruz.</p>
      <p><a class="btn btn-outline-primary" href="#">İncele »</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg
        version="1.0"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        style="fill: #4e60dc"
        width="150px"
        height="150px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 100 100"
        xml:space="preserve"
      >
        <path
          d="M83.776,69.063c2.07-4.069,1.455-9.153-1.95-12.556c-4.229-4.231-11.091-4.231-15.319,0c-4.231,4.229-4.231,11.091,0,15.319
	c3.402,3.405,8.486,4.021,12.556,1.95L85.286,80L90,75.286L83.776,69.063z M74.167,68.333c-2.302,0-4.167-1.865-4.167-4.166
	C70,61.865,71.865,60,74.167,60c2.301,0,4.166,1.865,4.166,4.167C78.333,66.468,76.468,68.333,74.167,68.333z"
        />
        <path
          d="M43.994,46.667H90V20H63.333l-20,20L10,46.667V70h16.834c0.815,5.645,5.628,10,11.499,10c5.871,0,10.684-4.355,11.498-10
	h6.836v-6.667h-7.833c-1.878-3.929-5.856-6.666-10.501-6.666c-4.646,0-8.623,2.737-10.5,6.666H16.667V52.132L43.994,46.667z
	 M66.094,26.667h17.239V40H52.761L66.094,26.667z M38.333,63.333c2.76,0,5,2.24,5,5c0,2.761-2.24,5-5,5c-2.761,0-5-2.239-5-5
	C33.333,65.573,35.573,63.333,38.333,63.333z"
        />
      </svg>

      <h2>En iyi arabalar</h2>
      <p>En yeni sorunsuz arabalar ile sizleri karşılıyoruz.</p>
      <p><a class="btn btn-outline-primary" href="#">İncele »</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Nasıl Araç Kiralayabilirim?
        <span class="text-muted">En hızlı şekilde kiralama sistemi.</span>
      </h2>
      <p class="lead">
        "Yepyeni bir araç kiralama deneyimi" anlayışı ile çok kısa sürede önemli
        atılımlar yaparak büyüyen marka, her geçen gün artan hizmet noktaları
        ile müşterilerine kaliteden ödün vermeden hizmet vermeye devam
        etmektedir.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/svg/PMT_M208_03.svg"
        width="600px"
        height="500px"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        7/24 Hizmetinizdeyiz.
        <span class="text-muted">Hep Sizinleyiz.</span>
      </h2>
      <p class="lead">
        Dilediğiniz zaman müşteri hizmetimize ulaşabilir findeks puanınızın
        yeterli olduğu araçları kiralayabilirsiniz.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/svg/PMT_M208_05.svg"
        width="600px"
        height="500px"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Online kiralama yapabilirsiniz.
        <span class="text-muted">Her yerdeyiz.</span>
      </h2>
      <p class="lead">Aracınızı online olarak kolaylıkla kiralayabilirsiniz.</p>
    </div>
    <div class="col-md-5">
      <img
        src="../../../assets/svg/PMT_M208_07.svg"
        width="600px"
        height="500px"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->

<!-- FOOTER -->
<footer class="container text-center">
  <p>© 2021 Selim Gülce</p>
</footer>
