<div class="row">
  <div
    class="card col-md-3 mb-3 mx-3 pt-3 px-3"
    style="width: 18rem"
    *ngFor="let car of cars"
    routerLink="/cars/details/{{ car.id }}"
  >
    <div class="card-body">
      <p class="card-text"><b>Model Year: </b>{{ car.modelYear }}</p>
      <p class="card-text"><b>Daily Price: </b>{{ car.dailyPrice }}</p>
      <p class="card-text"><b>Descriptions: </b>{{ car.descriptions }}</p>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <button mat-icon-button>
            <mat-icon color="primary" class="mat-18">save</mat-icon>
          </button>
        </div>
        <div class="col-md-2">
          <button color="warn" mat-icon-button>
            <mat-icon class="mat-18">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
