<div class="mb-3">
  <label for="filterText" class="form-label">Car Name</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama..."
  />
</div>
<div *ngIf="filterText.length > 1" class="alert alert-success">
  Şunu aradınız {{ filterText }}
</div>

<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row">
  <div
    class="card col-md-4 mb-3 mx-3 pt-3 px-3"
    style="width: 18rem"
    *ngFor="let car of cars | filterCarPipe: filterText"
    routerLink="/cars/details/{{ car.id }}"
  >
    <div class="card-body">
      <p class="card-text"><b>Model Year: </b>{{ car.modelYear }}</p>
      <p class="card-text"><b>Daily Price: </b>{{ car.dailyPrice }}</p>
      <p class="card-text"><b>Descriptions: </b>{{ car.descriptions }}</p>
    </div>
  </div>
</div>
