<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Kredi Kartı Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="creditCardAddForm">
          <div class="form-group">
            <div class="mb-3">
              <input
                type="text"
                id="cardNumber"
                formControlName="cardNumber"
                class="form-control"
                placeholder="Kredi Kartı Numarası"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                id="fullName"
                formControlName="fullName"
                class="form-control"
                placeholder="İsim Soyisim"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                id="CCV"
                formControlName="CCV"
                class="form-control"
                placeholder="CCV"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                id="expirationMonth"
                formControlName="expirationMonth"
                class="form-control"
                placeholder="Ay"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                id="expirationYear"
                formControlName="expirationYear"
                class="form-control"
                placeholder="Yıl"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
